NEXT_PUBLIC_SITE_URL=localhost:3000

BASIC_AUTH_ENABLED=
BASIC_AUTH_NAME=
BASIC_AUTH_PASSWORD=

MICROCMS_SERVICE_DOMAIN=
MICROCMS_API_KEY=

AIRTABLE_API_URL=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_ID=
AIRTABLE_API_KEY=