NEXT_PUBLIC_SITE_URL=localhost:3000

BASIC_AUTH_ENABLED=false
BASIC_AUTH_NAME=1234
BASIC_AUTH_PASSWORD=1234

API_URL=

MICROCMS_SERVICE_DOMAIN=85dlg4uf1a
MICROCMS_API_KEY=hZ6ZI05EwSK6cKByx9aFymZ73c0yR8luSpqy