NEXT_PUBLIC_SITE_URL=localhost:3000

BASIC_AUTH_ENABLED=false
BASIC_AUTH_NAME=1234
BASIC_AUTH_PASSWORD=1234

API_URL=

MICROCMS_SERVICE_DOMAIN=https://galmzok5gi.microcms.io/
MICROCMS_API_KEY=p17BUf7pYO2uY8wNXYSZgHfB8wGxRG6123ZV