@import 'tailwindcss';
@plugin "@tailwindcss/typography";

body.loaded-fv #header {
  opacity: 1;
}
@layer base {
  button {
    cursor: pointer;
  }
}
@layer components {
}
@layer utilities {
}

.drag-slider .splide .splide__pagination,
.splide-slider .splide .splide__pagination {
  bottom: -40px;
}

@keyframes anim {
  0% {
  }
  20% {
    z-index: 11;
    \transform: skewX(5deg) translateX(-100%);
  }
  40% {
    transform: skewX(0deg) translateX(0);
    width: 110%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  60% {
    transform: skewX(3deg) translateX(0);
    width: 110%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  80% {
    transform: skewX(1deg) translateX(-100%);
    width: 60%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  100% {
    transform: skewX(-5deg) translateX(-50px);
    width: 0;
    z-index: 1;
    box-shadow: none;
  }
}
